.pencil-pusher-view-container {
	display: flex;
	flex-direction: row;
	height: 100%;

	.score-container {
		display: flex;
		flex-direction: column;
		flex: 1;
		margin: auto;

		.score-display {
			flex: 1;
			margin: auto;
		}
	}

	.upgrade-container {
		display: flex;
		flex-direction: column;
		flex: 3;

	}
}

.game-button {
	flex: 3;
	justify-content: center;
	margin: auto;
}

.upgrade-item-container {
	flex: 3;
	justify-content: center;
	margin: auto;
}